---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<style>
  main {
    height: 75vh;
    width: 75vw;
    margin: 20px auto;
  }
  div, main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #ccc;
}
</style>

		<BaseHead title="404" description={SITE_DESCRIPTION} />
  <main>
  <div class="four-o-four">
404.  Ain't nothin here.
  </div>
  </main>
